div.container {
    width: 100%;
    border: 1px solid gray;
}
header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}
nav {
    float: right;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}
nav ul {
    list-style-type: none;
    padding: 10px;
    text-align: right;
}
div.gallery {
    margin: 60px;
    border: 1px solid #ccc;
    float: left;
    width: 350px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: 300px;
}

div.desc{
    padding: 15px;
    text-align: left;
}